<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erika.cookbook">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Recept"
            android:label="@string/title_activity_recept"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NovyRecept"
            android:label="@string/title_activity_novy_recept"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeznamReceptu"
            android:label="@string/title_activity_seznam_receptu"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NakupniSeznam"
            android:label="@string/title_activity_nakupni_seznam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RozsireneVyhledavani"
            android:label="@string/title_activity_rozsirene_vyhledavani"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EANdbManager"
            android:label="@string/title_activity_eandb_manager"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewCountdownTimer"
            android:label="@string/title_activity_timer"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <service android:name=".MyService" />

        <activity
            android:name=".HodnoceniReceptu"
            android:label="@string/action_rate"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Favourites"
            android:label="@string/title_activity_favourites"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".FullScreenImage" />
        <activity android:name=".ListOfTimers"
            android:label="@string/title_activity_listOfTimers"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>